            html {
                height: 100%;
            }
            
            body {
                margin: 0;
                padding: 0;
                background: rgb(255, 255, 255);
                height: 100%;
                font-family: 'Rammetto One', cursive;
            }
            
            #wrapper {
                position: relative;
                width: 100%;
                height: 100%;
            }
            
            #clouds {
                background: url("../img/bg-clouds2-tinypng.png") repeat-x 0 center #ACE6FF;
                width: 100%;
                height: 80px;
                /*190px*/
                min-height: 80px;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 1;
                -webkit-transform: translate3d(0, 0, 0.01);
                transform: translate3d(0, 0, 0.01);
            }
            
            .logo {
                width: 55%;
                padding-top: 2%;
                align-content: center;
            }
            
            .navbar-collapse {
                background-color: #63D0FF;
                padding-left: 10%;
                width: 100%;
            }
            
            .navbar {
                padding: 0 1.5rem 1rem 1.5rem;
            }
            
            nav a {
                color: #fff;
                padding-right: 5px;
            }
            
            nav a:hover {
                color: #49b647;
            }
            
            .navbar-toggler {
                border-color: white;
            }
            
            .burger {
                color: #fff;
            }
            
            .cover {
                background-image: url(../img/cover.jpg);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                background-attachment: fixed;
                margin-top: 5%;
                padding: 17%;
                width: 100%;
                color: #fff;
                min-height: 550px;
            }
            
            .coverow {
                padding-top: 25%;
            }
            
            .cover h1,
            .cover h3,
            .programas-container h2,
            .programas-container h1 {
                text-shadow: 2px 2px 2px #49b647;
            }
            
            .nosotros {
                background-color: #49b647;
                color: #fff;
            }
            
            .nosotros img:hover {
                -webkit-transform: scale(1.8);
                transform: scale(1.8);
            }
            
            .nosotros img {
                transition: all 2s ease-in-out;
            }
            
            .nosotros-img {
                overflow: hidden;
                padding-left: 0;
                padding-right: 0;
            }
            
            .nosotros h4,
            .nosotros h2 {
                text-shadow: 2px 2px 2px #FF0000;
            }
            
            .nubes-container {
                background-image: url(../img/cloud.png);
                background-repeat: repeat-x;
                height: 100%;
                max-height: 100px;
                margin-top: -12%;
            }
            
            .programas-col {
                height: 500px;
                padding: 0;
                background-image: url(..//img/material_mesa_sf.png);
                background-origin: content-box;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            
            .programas-col-kinder {
                height: 500px;
                padding: 0;
                background-image: url(..//img/materiales_sf.png);
                background-origin: content-box;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            
            .programas-kinder {
                padding: 10% 7%;
            }
            
            .programas-maternal {
                padding: 0 7% 10% 7%;
            }
            
            .actividades-container {
                background-image: url('../img/casita.jpg');
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-origin: border-box;
                background-size: cover;
                color: #fff;
            }
            
            .nubes-container-actividades {
                background-image: url(../img/cloud_blue.png);
                background-repeat: repeat-x;
                height: 100%;
                max-height: 7%;
            }
            
            .franja-azul {
                background-color: #a8e2ff;
                text-shadow: 2px 2px 2px #FF0000;
                color: #fff;
                margin-top: -1%;
            }
            
            .actividades-col {
                height: 50%;
                text-shadow: 2px 2px 2px #49b647;
                opacity: .75;
                padding-top: 10%;
            }
            
            .actividades-col:hover {
                transform: scale(1.03, 1.03);
                transition: transform 1s;
                opacity: 1;
            }
            
            .actividades-col h2 {
                font-size: 1.5rem;
            }
            
            .mapa-container {
                z-index: 1;
                height: 100%;
                width: 100%;
                max-height: 400px;
                padding: 0px;
                border-width: 0px;
                margin: 0px;
                left: 0px;
                top: 0px;
            }
            
            .visitanos {
                text-shadow: 2px 2px 2px #FF0000;
            }
            
            .testimonios-container {
                background-color: #a8e2ff;
                height: 520px;
            }
            
            .carousel-item iframe {
                width: 100%;
                padding: 10% 2%;
                height: 590px;
            }
            
            .contactanos-container h4,
            .contactanos-container svg {
                color: rgb(13, 117, 8);
            }
            
            .contactanos-container a {
                text-decoration: none;
                color: #212529;
            }
            
            #informes {
                background-image: url(../img/cuaderno.jpg);
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
            
            .form-group input,
            .form-group textarea {
                border-top: none;
                border-right: none;
                border-left: none;
                border-bottom: 2px solid green;
                background-color: transparent;
            }
            
            .footer {
                margin-bottom: 85px;
                color: rgb(13, 117, 8);
            }
            
            #ground {
                background: url("../img/grass_catarina.png") repeat-x 0 0 transparent;
                position: fixed;
                bottom: 0;
                left: 0;
                z-index: 2;
                width: 100%;
                height: 80px;
                min-height: 80px;
                border: 0 none transparent;
                outline: 0 none transparent;
                -webkit-transform: translate3d(0, 0, 0.01);
                transform: translate3d(0, 0, 0.01);
                will-change: transform;
            }
            
            .proximamente {
                font-size: 2rem;
                margin-bottom: 10%;
                margin-top: 10%;
            }
            /* Small devices (landscape phones, 576px and up) */
            
            @media screen and (min-width: 576px) {
                .logo {
                    width: 34%;
                    padding-top: 1%;
                }
                .nubes-container {
                    margin-top: -8%;
                }
                .actividades-col h2 {
                    font-size: 2rem;
                }
                .proximamente {
                    font-size: 3.5rem;
                }
            }
            /* Medium devices (tablets, 768px and up) */
            
            @media screen and (min-width: 768px) {
                .logo {
                    width: 26%;
                    padding-top: 1%;
                }
                .coverow {
                    padding-top: 15%;
                }
                .nubes-container {
                    margin-top: -5%;
                }
                .footer {
                    margin-bottom: 85px;
                }
                .actividades-col {
                    padding-top: 0%;
                }
                .actividades-col h2 {
                    font-size: 1.5rem;
                }
                .programas-kinder {
                    padding: 0% 3%;
                }
                .programas-maternal {
                    padding: 3% 0% 1% 4%;
                }
                .carousel-item iframe {
                    width: 100%;
                    padding: 2% 2%
                }
            }
            /* Large devices (desktops, 992px and up) */
            
            @media screen and (min-width: 992px) {
                .logo {
                    width: 18%;
                    padding-top: 1px;
                }
                nav a {
                    text-align: left;
                }
                .navbar-expand-lg .navbar-nav .nav-link {
                    padding-right: 1rem;
                }
                .navbar-collapse {
                    background-color: transparent;
                }
                .coverow {
                    padding-top: 10%;
                }
                .nosotros-img {
                    padding-top: 15%;
                }
                .nosotros-row {
                    padding-left: 5%;
                    padding-right: 5%;
                }
                .nosotros-img {
                    padding-left: 5%;
                }
                .programas-maternal {
                    padding-top: 5%;
                }
            }
            /* Extra large devices (large desktops, 1200px and up) */
            
            @media screen and (min-width: 1200px) {
                .logo {
                    width: 16%;
                }
                .coverow {
                    padding-top: 0%;
                }
                .nosotros-img {
                    padding-top: 0%;
                }
                .nubes-container {
                    margin-top: -4%;
                }
                .footer {
                    margin-bottom: 85px;
                }
                .carousel-item iframe {
                    padding: 2% 25%;
                }
            }
            
            .zonaPapas {
                margin-bottom: 40%;
                margin-top: 15%;
            }